 <!-- Kan søge-funktionen virke med contentful?  -->
 
 <!-- NAVBAR! -->
  <nav class="white">
      <div class="nav-wrapper">
        <a href="#!" class="center brand-logo">Idew</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="hide-on-med-and-down">
          <div class="navbar-items">
              <li><a class="hover-item" routerLink="treatments-view">TREATMENTS</a></li>
              <li><a class="hover-item" routerLink="skincare-view">SKINCARE</a></li>
              <li><a class="hover-item" routerLink="hair-view">HAIR & NAILS</a></li>
              <li><a class="hover-item" routerLink="beauty-view">BEAUTY</a></li>
              <li><a class="hover-item" routerLink="forever-view">FOREVER GOOD</a></li>
          </div>        
        </ul>
      </div>  
    </nav>
    
    <!-- NAVBAR MOBIL -->
    <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">TREATMENTS</a></li>
        <li><a href="badges.html">SKINCARE</a></li>
        <li><a href="collapsible.html">HAIR & NAILS</a></li>
        <li><a href="mobile.html">BEAUTY</a></li>
        <li><a href="mobile.html">FOREVER GOOD</a></li>    
    </ul>

    <router-outlet></router-outlet>



    <!-- FOOTER -->
    
